body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Arial, Helvetica, sans-serif;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #FFFF00;
    color: #2b2839;
    border: 1px dotted rgb(31, 31, 31);
    box-shadow: 3px 3px 6px #2b2839;
}    

img {
    border: 1px solid #2b2839;
    border-radius: 100%;
}


